@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--text-color: #fff;
	--title-color: #efa822;
	--bg-color: #111;
}

body {
	background: var(--bg-color);
	padding-bottom: 20px;
}

header {
	padding: 0 10px;
}

header h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	color: var(--title-color);
	letter-spacing: 0.1rem;
	margin: 0;
	padding: 0;
	font-size: 48px;
	background-image: linear-gradient(0deg, #fffa3b 0%, #ff2323 80%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header p {
	color: #40b3a2;
	font-family: 'Poppins', sans-serif;
}

main {
	display: flex;
	flex-wrap: wrap;

	padding: 0 10px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.wrapper-colors {
	flex-basis: 70%;
}

.wrapper-fonts {
	flex-basis: 30%;
}

.wrapper h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	letter-spacing: 0.05rem;
	color: var(--title-color);
}

.colors-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.gradients-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.fonts-container {
	display: flex;
	flex-direction: column;
}

.color-box {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin: 5px;
	position: relative;
	overflow: hidden;
}

.gradient-box {
	width: 90px;
	height: 90px;
	border-radius: 10px;
	margin: 5px;
	position: relative;
	overflow: hidden;
}

.font-box {
	width: 100%;
	height: auto;
	border-radius: 5px;
	margin: 2px 5px;
	position: relative;
	overflow: hidden;
	color: var(--text-color);
	font-size: 20px;
}

.copy {
	background-color: transparent;
	border: none;
	cursor: copy;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.copy:focus {
	outline: none;
}

.copy:active {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px #fff;
}

@media screen and (max-width: 500px) {
	.fonts-container {
		text-align: center;
	}

	.wrapper {
		flex-basis: 100%;
		text-align: center;
	}
}
